@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-roboto;
  background: white;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.sidebarUtilsScrollBar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.sidebarUtilsScrollBar::-webkit-scrollbar {
  width: 4px;
}

.sidebarUtilsScrollBar::-webkit-scrollbar-thumb {
  background-color: #d2d1d1;
}

.advanced-cropper-boundary__stretcher {
  min-height: 250 !important;
}
